<!--
  Generated template for the PlacePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ place.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>{{ 'ADD_EVENT' | translate }}</ion-label>
    <ion-select [(ngModel)]="event_type" interface="action-sheet">
      <ion-option value="shaharit">{{ 'SHAHARIT' | translate }}</ion-option>
      <ion-option value="mincha">{{ 'MINCHA' | translate }}</ion-option>
      <ion-option value="arvit">{{ 'ARVIT' | translate }}</ion-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label floating>{{ 'TIME' | translate }}</ion-label>
    <ion-input type="time" [(ngModel)]="time" name="time"></ion-input>
  </ion-item>


  <ion-item>
    <button ion-button (click)="saveEvent(place)" color="primary" block>{{ 'SAVE' | translate }}</button>
  </ion-item>

  <!-- <ion-list *ngFor="let event in place.events">
    <ion-list-header>
      {{ event.type }}
    </ion-list-header>
    <ion-item *ngFor="let time in event.times">
      <h2>{{ time.value }}</h2>
      <p>{{ 'LAST_UPDATE' | translate }} {{ time.last_update }}</p>
    </ion-item>
  </ion-list> -->

</ion-content>
