<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PASSWORD_RECOVERY_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button block (click)="sendResetPasswordEmail()">{{ 'SEND_PASSWORD_RECOVERY_MAIL' | translate }}</button>
\      </div>
    </ion-list>
  </form>
</ion-content>

