<ion-tabs>
    <ion-tab tabIcon="add" [root]="AddTab" tabTitle="הוספה"></ion-tab>
    <ion-tab tabIcon="search" [root]="SearchTab" tabTitle="חיפוש"></ion-tab>
  <ion-tab tabIcon="chatboxes" [root]="ChatTab" tabTitle="הודעות" tabBadge="14" tabBadgeStyle="danger"></ion-tab>
  <ion-tab tabIcon="contact" [root]="ProfileTab" tabTitle="פרופיל"></ion-tab>
</ion-tabs>
