<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item>
    <ion-label>Gander</ion-label>
    <ion-select [(ngModel)]="gander" interface="action-sheet">
      <ion-option value="enable">Male</ion-option>
      <ion-option value="mute">Female</ion-option>
    </ion-select>
  </ion-item>


</ion-content>
