<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list no-margin>
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)" text-right>
      {{ item }}
    </ion-item>
  </ion-list>
  <form>
    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>{{ 'ADDRESS' | translate }}</ion-label>
          <ion-input type="text" disable [(ngModel)]="address" name="address"></ion-input>
        </ion-item>
      <div>
          <button ion-button (click)="save(place)" color="primary" block>{{ 'SAVE' | translate }}</button>
      </div>
    </ion-list>
  </form>
</ion-content>
