<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-list no-margin>
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)" text-right>
      {{ item }}
    </ion-item>
  </ion-list>
  <div #map_canvas id="map_canvas"></div> 
</ion-content>
