<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
      </ion-item>
      <div padding>
        <button ion-button (click)="signup()" color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>
    </ion-list>
  </form>
</ion-content>